


#p1{
    font-style: inherit;

    font-size: 250%
  
}

#p2{

    font-size: 290%;
    font-style: italic;
}

#head1{

    font-style: italic;
    font-size: 250%
}
#p12{

    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
}




